* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial;
    background: white;
    color: #12345a;
}

.header {
    background: #123c6b;
    color: white;
    padding: 10px;
}

.nav {
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.title {
    text-align: center;
    padding: 30px;
    font-weight: 1000;
}

.title h1 {
    font-size: 60px;
   /* font-weight: bold;*/
    text-shadow:
        2px 2px 0 #0b2c5a,
        -2px 2px 0 #0b2c5a,
        2px -2px 0 #0b2c5a,
        -2px -2px 0 #0b2c5a;
}

.product {
    max-width: 900px;
    margin: auto;
    display: flex;
    gap: 20px;
    padding: 20px;
    border: 1px solid #d4d4d4;
}

.product-img img {
    width: 300px;
    border: 1px solid #d4d4d4;
    padding: 30px;
}

.product-info {
    flex: 1;
    border: 1px solid #d4d4d4;
    padding: 30px;
}

.product-info button {
    margin-top: 20px;
    padding: 10px;
    background: #123c6b;
    color: white;
    border: none;
    width: 500px;
}

.related {
    text-align: center;
    padding: 30px;
}

.related h3 {
    font-weight: 1000;
}

.related-grid {
    max-width: 900px;
    margin: auto;
    display: flex;
    gap: 20px;
    justify-content: center;
    /*order: 1px solid #999;*/
    padding: 30px;
}


.related-grid-card {
    height: 400px;
    border: 1px solid #d4d4d4;
    padding: 30px;
}

.related-grid img {
    width: 200px;
}

.related-grid P {
    font-size: 10PX;
}

.links {
    text-align: center;
    padding: 40px;
    font-weight: 1000;
}

.links h2 {
    font-size: 40px;
   font-weight: 1000;
}

.footer {
    background: #ddd;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}


.card-right {
    width: 100%;
    padding: 10px;
}